<h1>My Coupons</h1>
<br>
<div id="align_right">
  <%= link_to "New Coupon", new_merchant_coupon_path %>
</div>
<br>
<% @coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>">
    <div id="align_right">
      <h3><%= coupon.name %></h3>
      <p><%= number_to_currency(coupon.amount) %> off</p>
      <p>Status: <%= coupon.status %></p>
      <%= button_to 'Edit', edit_merchant_coupon_path(coupon), method: :get %>
      <% if coupon.enabled? %>
        <%= button_to "Disable", merchant_disable_coupon_path(coupon), method: :patch %>
      <% else %>
        <%= button_to "Enable", merchant_enable_coupon_path(coupon), method: :patch %>
      <% end %>
    </div>
  </section>
<% end %>
