<div id="main">
  <div class="form-group">
    <div id="form_field">
      <% if @user.addresses.empty? %>
        <h3>Please add an address to create an order.</h3>
        <br><br>
        <%= form_tag profile_addresses_path do %>
          <label><%= label_tag :address_name %></label><br>
          <input class="form-control"<%= text_field_tag :address_name, params[:address_name] %>
          <br>
          <label><%= label_tag :address %></label><br>
          <input class="form-control"<%= text_field_tag :address, params[:address] %>
          <br>
          <label><%= label_tag :city %></label><br>
          <input class="form-control"<%= text_field_tag :city, params[:city] %>
          <br>
          <label><%= label_tag :state %></label><br>
          <input class="form-control"<%= text_field_tag :state, params[:state] %>
          <br>
          <label><%= label_tag :zip %></label><br>
          <input class="form-control"<%= text_field_tag :zip, params[:zip] %>
          <br>
          <input class="form-control"<%= submit_tag 'Create New Address' %>
        <% end %>
      <% else %>
      <h3>Please choose a shipping address</h3>

        <%= form_for @order do |f| %>
          <label><%= f.label :address_id, 'Address name' %></label><br>
          <select class="form-control"<%= f.select :address_id, options_for_select(@user.address_names) %>
          <input class="form-control"<%= f.submit 'Submit Order' %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
