<%= render 'address' %>
<div id="align_right">
  <%= link_to 'Edit', '/profile/edit' %><br>
  <%= link_to 'Change Password', '/profile/edit_password' %><br>

  <%= link_to 'My Orders', '/profile/orders' %><br>
  <%= link_to 'My Addresses', profile_addresses_path %>
</div>
