<h1>My Addresses</h1>

<% @user.addresses.each do |address| %>
  <section id="address-<%= address.id %>">
    <h2><%= address.address_name %></h2>
    <p><%= address.address %></p>
    <p><%= address.city %>, <%= address.state %>, <%= address.zip %></p>
    <%= button_to 'Edit', profile_address_edit_path(address) %>
    <%= button_to 'Delete', profile_address_delete_path(address) %>
  </section>
<% end %>
