<div id="main">
  <div class="form-group">
    <div id="form_field">
      <%= form_tag profile_addresses_path do %>
        <label><%= label_tag :address_name %></label>
        <input class="form-control"<%= text_field_tag :address_name, params[:address_name] %>
        <br>
        <label><%= label_tag :address %></label>
        <input class="form-control"<%= text_field_tag :address, params[:address] %>
        <br>
        <label><%= label_tag :city %></label>
        <input class="form-control"<%= text_field_tag :city, params[:city] %>
        <br>
        <label><%= label_tag :state %></label>
        <input class="form-control"<%= text_field_tag :state, params[:state] %>
        <br>
        <label><%= label_tag :zip %></label>
        <input class="form-control"<%= text_field_tag :zip, params[:zip] %>
        <br>
        <input class="form-control"<%= submit_tag 'Create New Address' %>
      <% end %>
    </div>
  </div>
</div>
